{% extends 'base.html' %} {% block body %} {% load crispy_forms_tags %}
<div class="jumbotron">
  <h1>{{title}}</h1>
  <form method="POST" action="">
    {% csrf_token %} {{form|crispy}}
    <input type="submit" value="Search" class="btn btn-dark mb-4"/>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>KMFL CODE</th>
        <th>FACILITY NAME</th>
        <th>COUNTY</th>
        <th>SUB COUNTY</th>
          <th>TYPE</th>
        <th>OWNER</th>
          <th>DATE CREATED</th>

      </tr>
    </thead>
    {% for instance in queryset %}
    <tr>
{#      <td>{{forloop.counter}}<a href="{% url 'issue_items' instance.id %}"></td>#}
      <td>{{instance.KMFL_code}}
      </td>
      <td>
        {{instance.facility_name}}
      </td>
      <td>{{instance.facility_county}}</td>
         <td>{{instance.facility_subcounty}}</td>
         <td>{{instance.facility_type}}</td>
         <td>{{instance.facility_owner}}</td>
        <td>{{instance.date_created_facility}}</td>
      <td class="d-inline">
        <div><a href="{% url 'update_facility' instance.KMFL_code %}"
          ><div class="btn btn-warning">Edit</div></a</div>
{#        <div><a href="{% url 'issue_items' instance.id %}"#}
{#          ><div class="btn btn-primary">Issue</div></a</div>#}
        <div><a href="{% url 'delete_facility' instance.KMFL_code %}"
          ><div class="btn btn-danger">Delete</div></a
        ></div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
