<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Health Registry</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" href="/list_facility">Facility Registry</a>
           <a class="nav-link" href="/list_client">Client Registery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_facility">Register Facility</a>
          <a class="nav-link" href="/add_client">Register Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stock_issued">View Reports</a>
      </li>
    </ul>
  </div>
</nav>
